.center
{
   text-align:center;
}

.left
{
   text-align:left;
}

.right
{
   text-align:right;
}

.caption 
{
   font-size:12px;
   font-weight:bold;
}

.value 
{
   font-size:14px;
   padding-left:10px;
}



 
