.left-content h3 { color: #777; }

.left-content span.caption { color: #777; }

.menutitle { 
	font-family: arial;
	font-weight:bold;
	text-decoration:underline;
	padding-top:15px;
	color: darkslateblue;
}

.menu td {
	line-height: 1.45em;
	padding: 2px 0px;
}

.menu td a { text-decoration:none; }

.menu .icon {
	width: 16px;
}

.menu .caption {
	padding-left: 5px;
}

#classesmenu tr.selected {
	background-color:lightgrey;
}

#classesmenu tr.selected a {
	color: black;
	font-weight: bold;
}

.notification {
	color:white;
	background-color:red;
	font:8px;
	font-family:verdana;
	text-align:center;
	padding:1px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*-- message style -----*/
.message .message-head {
	border-bottom: solid 1px #efefef;
}

.message .subject,
.message .sendername {
	color: darkslateblue;
	font-size:12px;
	font-weight:bold;
}

.message .sendername {
	text-transform: capitalize;
}

.message .notifycount {
	background-color: #f00;
	color: #fff;
	font-weight:bold;
	font-size:10px;
	display: inline-block;
	text-align:center;
	width: 11px; line-height: 11px;
	padding: 2px;
}

.message .message-hr {
	height: 0px;
	line-height: 0px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #eee;
	margin: 3px 0;
}

.message .link,
.message .btn ,
.message .remove {
	background: #efefef;
	border: solid 1px #eee;
	display: inline-block;
	font-size: 11px; font-family: arial;
	height: 12px; line-height: 12px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

.message .link { padding: 0 2px; }

.message .btn,
.message .remove {
	width: 12px;
}

.message .link:hover,
.message .btn:hover,
.message .remove:hover {
	color: #333;
	background: #ddd;
}

.message .comment .text {
	border: solid 1px #ccc;
	font-size: 12px;
}

.message .comment .hint { font-size: 12px; }

/*-- thumnail photo --*/
.thumb {
	overflow: hidden;
	margin-right: 10px;
}


/*--  member menu ---*/
a.mbr-btn {
	background: #efefef;
	border: solid 1px #ccc;
	display: inline-block;
	font-size: 11px; font-family: arial;
	width: 12px; height: 12px; line-height: 12px;
	text-align: center;
	text-decoration: none;
	color: #777;
}
a.mbr-btn-open
{
	background: #bbb;
	color: #000;
	border-color: #bbb;
}

.mbr-menu {
	border: solid 1px #bbb;
	border-bottom-width: 2px;
	box-shadow: 0px 2px 5px #bbb;
	-webkit-box-shadow: 0px 2px 5px #bbb;
	-moz-box-shadow: 0px 2px 5px #bbb;
	padding: 4px 0px 0px;
}
.mbr-menu ul { list-style: none; margin: 0; padding: 0; }
.mbr-menu li { display: inline-block; width: 100%; padding: 0; margin: 0; }
.mbr-menu a{ 
	display: block; padding: 5px 15px; text-decoration: none; 
	border-top: solid 1px transparent;
	border-bottom: solid 1px transparent;
}
.mbr-menu a:hover { 
	background: #eee; 
	border-top: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
}


/*-- tab styles --*/
.tab-box ul.nav {
	background: none;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	border: none;
	border-bottom: solid 1px #bbb;
}

.tab-box ul.nav li { background: none !important; border: none !important; }

.tab-box ul.nav li a {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #CCC;
	color: darkSlateBlue;
	background: #F6F6F6;
	background: -moz-linear-gradient(top,#ffffff,#efefef);
	background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef));
}

.tab-box ul.nav li.ui-state-default a { color: darkSlateBlue; }

.tab-box ul.nav li a:hover {
	border-color: #aaa;
	background: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;	
}

.tab-box ul.nav li a:active {
	background: -moz-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -ms-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -o-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e0e0e0),color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: linear-gradient(to bottom,#e0e0e0 0,#fff 100%);
}

.tab-box ul.nav  li.ui-state-active a,
.tab-box ul.nav li.ui-state-active a:hover {
	color: #333;
	border: 1px solid #ccc;
	background: #ccc;
	background: -moz-linear-gradient(top,#ddd,#bbb);
	background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#bbb));
	box-shadow: none;
}

.tab-box .footer {
	clear:both;
	line-height: 0; height: 0; margin: 0; padding: 0;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ddd;
}



