.left-content h3 { color: #777; }

.left-content span.caption { color: #777; }

.menutitle { 
	font-family: arial;
	font-weight:bold;
	text-decoration:underline;
	padding-top:15px;
	color: darkslateblue;
}

.menu td {
	line-height: 1.45em;
	padding: 2px 0px;
}

.menu td a { text-decoration:none; }

.menu .icon {
	width: 16px;
}

.menu .caption {
	padding-left: 5px;
}

#classesmenu tr.selected {
	background-color:lightgrey;
}

#classesmenu tr.selected a {
	color: black;
	font-weight: bold;
}

.notification {
	color:white;
	background-color:red;
	font:8px;
	font-family:verdana;
	text-align:center;
	padding:1px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*-- message style -----*/
.message .message-head {
	border-bottom: solid 1px #efefef;
}

.message .subject,
.message .sendername {
	color: darkslateblue;
	font-size:12px;
	font-weight:bold;
}

.message .sendername {
	text-transform: capitalize;
}

.message .notifycount {
	background-color: #f00;
	color: #fff;
	font-weight:bold;
	font-size:10px;
	display: inline-block;
	text-align:center;
	width: 11px; line-height: 11px;
	padding: 2px;
}

.message .message-hr {
	height: 0px;
	line-height: 0px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #eee;
	margin: 3px 0;
}

.message .btn ,
.message .remove {
	background: #efefef;
	border: solid 1px #eee;
	display: inline-block;
	font-size: 11px; font-family: arial;
	width: 12px; height: 12px; line-height: 12px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

.message .btn:hover,
.message .remove:hover {
	color: #333;
	background: #ddd;
}




