.menuitem td{
	font-size:11px;font-family:verdana;
	padding:1px;
	padding-left:4px;
}
.menuitem td a{
	text-decoration:none; 
}
#classesmenu tr.selected {
	background-color:lightgrey;
}
#classesmenu tr.selected a {
	color: black;
	font-weight: bold;
}
.notification {
	color:white;
	background-color:red;
	font:8px;
	font-family:verdana;
	text-align:center;
	padding:1px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.invitation-box {
	padding: 10px;
	background: #D7D7E9;
	box-shadow: 0 2px 5px #BEBEBE;
	border: solid 1px #CFCFCF;
	margin-bottom: 20px;
}

.invitation-box .title {
	color: #FD2B2B;
	padding: 5px 0;
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: solid 1px #C9C6C6;
}

.user-info {
	line-height: 1.6em;
}

.user-name {
	font-size: 1.4em;
	font-weight: bold;
}


/*-- class listing --*/

.sidebar .top-content .class-list {
	position: absolute;
	top: 40px; left: 0; right: 0; bottom: 0;
}



