html, body { height: 100%; margin:0; }

body {
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	background-color: white;
}

img { border: none; }

.head {
	background: rgb(54,142,205) url('../img/header-bg.png') repeat-x left bottom;
	height: 40px;
}

.foot {
	background-color: rgb(153,204,255);
}

#footmenu {
	font-family: tahoma, verdana, arial;
	font-size: 12px;
}

.error {
	color:red;
	font-size:14px;
}
