.center
{
   text-align:center;
}

.left
{
   text-align:left;
}

.right
{
   text-align:right;
}

.caption 
{
   font-size:12px;
   font-weight:bold;
}

.value 
{
   font-size:14px;
   padding-left:10px;
}

.page-form-table
{
   font-size:12px;
   border-collapse:collapse;
   padding:5px 5px 5px 5px;
   margin:5px 5px 5px 5px;
}

.page-form-table .bottom-border
{
   border-bottom:1px solid #e9e5eb;
}

.page-form-table .text-top 
{
   vertical-align:text-top;
}

.page-form-table .default-padding
{   
   padding-bottom:10px;
   padding-top:10px;
}

.page-form-table .padding-top
{
   padding-top:10px;
}

.page-form-table .padding-bottom
{
   padding-bottom:10px;
}

.page-form-table input.text
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table input.text:selected
{
   border:1px border red;
}

.page-form-table select
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table textarea
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table a 
{
   color:#083c8c;
   font-weight:normal;
   font-size:11px;
   text-decoration:none;
}

.page-form-table a:hover
{
   text-decoration:none;
   color:#083c8c;
}

.page-form-table .close 
{
   color:#a5aa84;
   font-weight:bold;
   font-size:11px;
   text-decoration:none;
}
.btn { 
	display: inline-block; 
	background: rgb(54,160,205) url('../img/header-bg.png') repeat-x left center;
	border:1px solid #777; 
}
.btn button {
	background: none;
	color: #fff;
	border: none;
	border-top: solid 1px #bbb;
	border-left: solid 1px #bbb;
	display: inline-block;
	padding: 5px 20px; margin: 0;
}